/bin/config/componentes/configSistema.php
/assets/reportes/*.pdf
/assets/reportes/*.xlsx
/assets/tickets/*.pdf
/assets/img/perfil/*.png
.phpunit.result.cache
.phpunit.result.cache
phpunit.xml
vendor/
composer.lock

