#body{
    background-color: white
}

#carrusel{
    margin-top: 76px;
}

#navbar{
    background-color: rgb(255 255 255 / 90%);
    box-shadow: 0 1px 20px rgba(0,0,0,.3)
}

@media (max-width: 1200px) and (min-width: 992px){
    .ocultarlg{
        display: none;
    }
}

@media (max-width: 1400px) and (min-width: 992px){
    .icon-car .ocultarlg{
        display: none;
    }
}

@media (min-width: 992px){
    .sec{
        display: flex;
    }
}

#carRight{
    color: white;
    position: fixed;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    right: 6vw;
    bottom: 4vw;
    background-color: #198754;
    border: #198754;
    z-index: 4;
}

#tituloNav{
    color: #50643c;
}

.icon-car{
    position: relative;
}

.icon-badge{
    text-align: center;
    position: absolute;
    background-color: #198754;
    border-radius: 50%;
    color: white;
    top: -15px;
    right: -13px;
    padding: var(--bs-badge-padding-y) 0.55em;
}

/* Carrit de compras css */


.item-carrito{
    display: flex;
    align-items: center;
}
.item-carrito img {
    width: 120px;
    height: 120px;
/*    object-fit: cover;*/
}

.item-carrito .descripcion {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    height: 100%;
}
.item-carrito .descripcion h3 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.item-carrito .descripcion p {
    margin: 0;
    font-size: 13px;
    max-width: 500px;
}

.item-carrito .precio {
    margin-left: auto;
    font-size: 20px;
    align-self: end;
}

.item-carrito .opciones {
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.item-carrito .opciones input {
    height: 30px;
    width: 85px;
}
.item-carrito .opciones a {
    padding-left: 15px;
    text-decoration: underline;
    border-left: solid 1px #afafaf;
    color: #198754;
}

.carritoMain a{
    color: #198754;
}
.carritoMain a:hover {
    transition: all 0.5s;
    color: #28d787  !important;
    text-decoration: underline;
}

.cardContainer {
    display: flex;
    gap:25px;
}
.cardTotal {
    position: sticky;
    top: 180px;
    max-height: 300px;
    min-width: 250px;
}
.cardTotal .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.cardTotal h4 {
    font-size: 25px;
    font-weight: lighter;
}
.cardTotal h3 {
    font-size: 30px;
    font-weight: bold;
}
.regresar::after {
    content: " Regresar a la tienda";
}
.vaciar::after {
    content: " Vaciar el carrito de compra";
}
.page-container {
    max-width: 1100px;
}

@media screen and (max-width: 890px) {
    .cardContainer {
        flex-direction: column;
    }
    .item-carrito {
        flex-direction: column;
        width: 80%;
        justify-self: center;
    }
    .item-carrito .descripcion .opciones {
        margin-top: 20px;
    }
    .item-carrito .descripcion{
        padding-left: 0;
        text-align: justify;
    }
    .regresar::after {
        content: " Regresar";
    }
    .vaciar::after {
        content: " Vaciar";
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #666666;
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 55px;
  line-height: 1;
  color: #9ba958;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}


.services .description {
  text-align: justify;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# Productos
--------------------------------------------------------------*/

#productos{
 background: #fff;
 width: 100vw;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer{
  background: #666666;
}
.link:hover{
  color: #9ba958 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.invalid-tooltip-prod{
    z-index: 5;
    display: none;
    max-width: 200px;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    color: #fff;
    background-color: rgba(220,53,69,.9);
    border-radius: .375rem;
}

.product-container{
    width: 300px;
}

.card-product{
    transition: all 0.2s ease-out;
}
.card-product:hover{
    transform: scale(1.04);
}
