#body{
    background-color: white
}

#carrusel{
    margin-top: 76px;
}

#navbar{
    background-color: rgb(255 255 255 / 90%);
    box-shadow: 0 1px 20px rgba(0,0,0,.3)
}

@media (max-width: 1200px) and (min-width: 992px){
    .ocultarlg{
        display: none;
    }
}

@media (max-width: 1400px) and (min-width: 992px){
    .icon-car .ocultarlg{
        display: none;
    }
}

@media (min-width: 992px){
    .sec{
        display: flex;
    }
}

#carRight{
    color: white;
    position: fixed;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    right: 6vw;
    bottom: 4vw;
    background-color: #198754;
    border: #198754;
    z-index: 4;
}

#tituloNav{
    color: #50643c;
}

.icon-car{
    position: relative;
}

.icon-badge{
    position: absolute;
    background-color: #198754;
    border-radius: 50%;
    color: white;
    top: -13px;
    right: -16px;
}

/* Carrit de compras css */


.item-carrito{
    display: flex;
    align-items: center;
}
.item-carrito img {
    width: 120px;
    height: 120px;
/*    object-fit: cover;*/
}

.item-carrito .descripcion {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    height: 100%;
}
.item-carrito .descripcion h3 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.item-carrito .descripcion p {
    margin: 0;
    font-size: 16px;
}

.item-carrito .precio {
    margin-left: auto;
    font-size: 20px;
    align-self: end;
}

.item-carrito .opciones {
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.item-carrito .opciones input {
    height: 30px;
    width: 85px;
}
.item-carrito .opciones a {
    padding-left: 15px;
    text-decoration: underline;
    border-left: solid 1px #afafaf;
    color: #198754;
}

.carritoMain a{
    color: #198754;
}
.carritoMain a:hover {
    transition: all 0.5s;
    color: #28d787  !important;
    text-decoration: underline;
}

.cardContainer {
    display: flex;
    gap:25px;
}
.cardTotal {
    position: sticky;
    top: 180px;
    max-height: 300px;
    min-width: 250px;
}
.cardTotal .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.cardTotal h4 {
    font-size: 25px;
    font-weight: lighter;
}
.cardTotal h3 {
    font-size: 30px;
    font-weight: bold;
}
.regresar::after {
    content: " Regresar a la tienda";
}
.vaciar::after {
    content: " Vaciar el carrito de compra";
}
.page-container {
    max-width: 1100px;
}

.item-carrito-tienda {
    flex-direction: column !important;
    width: 80%;
    justify-self: center;
}
.item-carrito-tienda .descripcion .opciones {
    margin-top: 20px;
}

@media screen and (max-width: 890px) {
    .cardContainer {
        flex-direction: column;
    }
    .item-carrito {
        flex-direction: column;
        width: 80%;
        justify-self: center;
    }
    .item-carrito .descripcion .opciones {
        margin-top: 20px;
    }
    .regresar::after {
        content: " Regresar";
    }
    .vaciar::after {
        content: " Vaciar";
    }
}